*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(245, 245, 245);
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.instagram-container{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-logo{
    margin-top: 10px;
}

.separador .linha-horizontal{
    height: 1px;
    width: 40%;
    background-color: #dbdbdb;
}

.separador{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.instagram-smartphone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.smartphone{
    height: 50rem;
}

.login{
    margin: 10px 0;
    position: relative;
    font-size: 14px;
    text-overflow: ellipsis;
}

input{
    padding: 20px;
    font-size: 12px;
    width: 18rem;
    height: 3rem;
    outline: none;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid #efefef;
}

label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    padding-bottom: 15px;
    transform: translateY(10px);
    line-height: 6px;
    transition: all ease-out 0.1s;
    font-size: 14px;
    color: #999;
    padding-top: 6px;
}

input::placeholder{
    visibility: hidden;
}

input:not(:placeholder-shown) + label {
    transform: translateY(0);
    font-size: 11px;
}

input:not(:placeholder-shown) {
    padding-top: 14px;
    padding-bottom: 2px;
}

.instagram-login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 80%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 24rem;
    margin-bottom: 10px;
}

.instagram-logo{
    height: 3rem;
}

.login-button{
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid transparent;
    background-color: #3897f0;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.login-facebook{
    font-size: 16px;
    color: darkblue;
}

.forgot-password{
    font-size: 12px;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url(./assets/apple-button.png);
}

.app-download:nth-child(2){
    background-image: url(./assets/google-button.png);
}


@media(max-width: 1024px) {
    .instagram-container{
        width: 90%;
    }
}

@media(max-width: 650px){
    body{
        background-color: white;
    }

    .group{
        border: 1px solid transparent;
    }

    .instagram-container{
        width: 90%;
    }

    .instagram-smartphone{
        display: none;
    }

    .instagram-login{
        width: 100%;
    }
}